<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Welcome to iCoder. A blog for coding enthusiasts">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Audio To Sign Language Translator</title>
<style>
    .center {

    display: block;
    font-size: 20px;
    text-align : justify;
    text-justify: inter-word;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }
</style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--<a class="navbar-brand" href="#">iCoder</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/translator">Translator</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
              </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="/contact">User Manual</a>
                </li>


            </ul>
            
        </div>
    </nav>
    <br><br>
    <div class='center' ><p >Providing information access and services to deaf people in Indian sign language. 
        Developing a scalable project which can be extended to capture the whole 
        vocabulary of ISL through manual and non-manual signs. It can be developed as a 
        desktop application to enable specially abled people to communicate easily and 
        effectively with others.</p></div>
    
</body>
</html>