<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Welcome to iCoder. A blog for coding enthusiasts">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Audio To Sign Language Translator</title>

    <style>
        .center {
    
        display: block;
        font-size: 20px;
        text-align : justify;
        text-justify: inter-word;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        
      }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--<a class="navbar-brand" href="#">iCoder</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/translator">Translator</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
              </li>
               
                <li class="nav-item active">
                    <a class="nav-link" href="/contact">User Manual<span class="sr-only">(current)</span></a>
                </li>


            </ul>
            
        </div>
    </nav>
    <div class="center"><p><br><br>
        Navigation bar conists of four options to explore <br>
Home Page :<br><ul>
<li>Consists of our gif welcoming you.</li><br>
<li>Some intresting facts.</li><br>
<li>A 'get started button' which will help you navigate to translator page, anyway we can directly click on translator option which is also located on navigation bar.
</li><br></ul>Translator Page:<br><ul>
<li>This page is the main working space of our project.</li><br>
<li>It consists of a text bar and a microphone button which can be used to enter text inputs and take audio inputs respectively.</li><br>
<li>Once the input is given we can see the translated sign language equivalent of the text or audio on the right side of the screen.</li><br>
<li>We can use thr play/pause button as per our convinienve which is located above the output screen.</li><br></ul>
About Page :<br><ul>
<li>Gives brief information, objective and motive of our project.</li><br></ul>
User Manual Page:<br><ul><li>
you just went through my contents.</li></ul> <br>

    </P></div>
</body>
</html>